

.bg.img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(...);
}
.bg.img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(...);
}
.bg.img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(...);
}


body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}
.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-item {
  height: 32rem;
}
footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
}
.float-right {
  justify-content: flex-end;
  padding-left: 800px;

}
@media (min-width: 40em) {
  /* カルーセルコンテンツのサイズを大きくする */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


